@inherits StyleForgeComponent

@if (Disabled)
{
    <button class="neris_button" disabled style="@CSSProperties.GetCSSStyleOutput()" @onclick="@thisClicked">@Text</button>
}
else
{
    <button class="neris_button" style="@CSSProperties.GetCSSStyleOutput()" @onclick="@thisClicked">@Text</button>
}


@code {
    private async Task thisClicked()
    {
        await OnClicked.InvokeAsync(this);
    }
}
