@if (StackItemContent != null)
{
    <table style="width: 100%; height: 100%;" cellpadding="1">
        @StackItemContent
    </table>
}
else
{
    @if (PanelStyle == StackPanelStyle.Vertical)
    {
        <table style="width: 100%; height: 100%;" cellpadding="1">
            @if (StackItems != null)
            {
                @foreach (StyleForgeComponent item in StackItems)
                {
                    <tr>
                        @if (item is Button xitem)
                        {
                            <Style_Forge.UI.Ribbon.Button Text="@xitem.Text" IconURL="@xitem.IconURL" IsSelected="@xitem.IsSelected" OnClicked="@ButtonsClicked" />
                        }
                        else if (item is Label litem)
                        {
                            <Label Text="@litem.Text" />
                        }
                        else if (item is Divider)
                        {
                            <Divider />
                        }
                        else if (item is Textbox)
                        {
                            <Textbox />
                        }
                    </tr>
                }
            }
        </table>
    }
    else if (PanelStyle == StackPanelStyle.Horizontal)
    {
        <table style="width: 100%; height: auto;" cellpadding="0">
            @if (StackItems != null)
            {
                <tr>
                    @foreach (StyleForgeComponent item in StackItems)
                    {
                        @if (item is Button xitem)
                        {
                            <Style_Forge.UI.Ribbon.Button Text="@xitem.Text" IconURL="@xitem.IconURL" IsSelected="@xitem.IsSelected" OnClicked="@ButtonsClicked" />
                        }
                        else if (item is Label litem)
                        {
                            <Label Text="@litem.Text" />
                        }
                        else if (item is Divider)
                        {
                            <Divider />
                        }
                        else if (item is Textbox)
                        {
                            <Textbox />
                        }
                    }
                </tr>
            }
        </table>
    }
}

@code {
    [Parameter] public StackPanelStyle PanelStyle { get; set; } = StackPanelStyle.Vertical;
    [Parameter] public List<StyleForgeComponent>? StackItems { get; set; }
    [Parameter] public RenderFragment? StackItemContent { get; set; }
    [Parameter] public EventCallback<dynamic> ItemClicked { get; set; }

    private async void ButtonsClicked(dynamic e)
    {
        await ItemClicked.InvokeAsync(e);
    }
}
